# Exclude Git and IDE files
.git/
.gitignore
.vscode/
.idea/

# Exclude virtual environments and build artifacts
venv/
myenv/
*.pyc
__pycache__/

# Exclude environment and system files
.env
.DS_Store
*.swp

# Exclude test files and directories
tests/
